:root {
 --text-shadow: 0.5px 0.5px rgba(31, 31, 31, 0.8);
 --fw-bold: 600;

 --color-primary: #24305e;
 --color-secondary: #fff;
 --color-accent:rgba(168, 208, 230, 1.0);

 --bg-color-default: rgba(255, 255, 255, 1.0);
 --bg-color-primary: rgba(36, 48, 94, 1.0);
 --bg-color-secondary: rgba(248, 233, 161, 0.5);
 --bg-color-accent: #d1e8e2;
 --bg-color-disabled: rgba(161, 161, 161, .2);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: var(--bg-color-default);
  color: var(--color-primary);
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  font-size: 1.25em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all 0.4s ease;
}

a:hover {
  text-decoration: underline;
  color: var(--color-accent);
  font-weight: 600;
  transform: scale(1.2);
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

ul {
  padding: 10px;
  margin: 0;
}

.page-container {
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color-primary);
}

.logo-wrapper {
  margin-left: 15px;
}

.desktop-menu-main {
  padding: 6px;
  margin: 0 auto;
}

.desktop-menu-main li {
  padding: 0 10px;
}

.desktop-menu-social {
  margin-left: auto;
  justify-content: flex-end;
}

.site-menu-inner {
  display: flex;
  width:100%;
  max-width: 75rem;
  justify-content: space-between;
  align-items: center;
}

.menu-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
  background-color: var(--bg-color-primary);
  border-bottom: 1px solid #817f7c;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}

.avatar-wrapper.nav-avatar {
  color: var(--color-secondary);
  flex-direction: row;
}

.login {
  display: flex;
  background: var(--bg-color-primary);
  color: var(--color-secondary);
  padding: 20px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-color-default);
  color: var(--color-primary);
  /* box-shadow: 5px 40px 0 rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
}

.login::before {
  content: ' ';
  background: var(--bg-color-primary);
}


.login-field {
  margin: 0 0;
  padding: 20px 0 ;
  width: 80%;
}

.login-field > .btn {
  margin: 18px auto;
  width: 200px;
  display: block;
}

.polls-wrapper {
  padding: 0;
  margin: 12px auto;
  display: flex;
  width: 90%;
  border: 4px solid var(--bg-color-primary);
  border-radius: 8px;
  flex-direction: column;
}

.polls-flex {
  margin: auto 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 0px;
}

.poll-item {
  width: 30%;
  padding: 4px;
}

.polls {
  margin: 0;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--bg-color-secondary);
  border-radius: 6px;
}
.polls span {
  margin: 6px;
}

.poll-header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  padding: 8px;
  border-bottom: 2px solid var(--bg-color-accent);
}

.poll-header > * {
  margin: 10px 0;
}

.poll-header>*:nth-child(1) {
  text-transform: uppercase;
}
.poll-header > *:nth-child(2) {
  font-weight: 500;
}
.poll-header>*:nth-child(3) {
  font-style: italic;
}

.poll-info {
  margin: 0;
  padding: 0;
  display: flex;
}

.poll-option {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4px;
  margin: 0 6px;
  margin-top: 40px;
  width: 50%;
  /* height: 25vh; */
  background: var(--bg-color-secondary);
  color: var(--color-primary);
  border-radius: 8px;
  flex: 1 1 auto;
}

.poll-option h3 {
  height: 50px;
}

.poll-option-wrapper-inner {
  max-width: 96%;
}

.poll-option.create-poll {
  margin: 4px auto;
}

.poll-option.vote-choice {
  background: var(--bg-color-primary);
  color: var(--color-secondary);
}

.poll-option-img {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.poll-details {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.poll-details > * {
  width: 100%;
}

.poll-details.winning {
  color: rgb(44, 255, 44);
  text-shadow: var(--text-shadow);
  font-weight: var(--fw-bold);
}

.poll-details.losing {
  color: #ff3d3d;
  text-shadow: var(--text-shadow);
  font-weight: var(--fw-bold);
}

.poll-details.tie {
  color: #da692c;
  text-shadow: var(--text-shadow);
  font-weight: var(--fw-bold);
}

.avatar-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.avatar-wrapper .avatar {
  height: 100px;
}

.avatar-wrapper.poll {
  flex-direction: row;
  justify-content: center;
  margin: 6px 0;
  font-weight: 700;
  width: 100%;
}
.avatar-wrapper.poll img {
  padding: 0px 4px;
}
.avatar-wrapper.poll span {
  margin: 0px 4px;
}


.avatar-wrapper.leaderboard {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.avatar-wrapper.leaderboard div {
  display: flex;
  flex-direction: column;
}

.avatar-wrapper span {
  padding: 0 6px;
  text-align: left;
}

.avatar-wrapper.nav-avatar .avatar {
  height: 36px;
}

img.app-logo {
  height: 36px;
  padding: 0px 4px;
}

.small-caps {
  font-size: 0.5em;
  text-transform: uppercase;
}

.new-poll-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px auto 20px auto;
  padding: 4px;
  width: 50%;
}

.userlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],input[type="password"], select {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  border-bottom: 2px solid var(--bg-color-primary);
  border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
}

/* buttons */

.btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color:var(--bg-color-accent);
  color:var(--color-primary);
  font-weight: 600;
  border-radius: 8px;
  width: 80%;
  transform: all 0.5s ease;
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--bg-color-disabled);
}

.btn:hover:not(:disabled) {
  background-color: var(--bg-color-secondary);
}

.btn-userlist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  cursor: pointer;
}

.btn-userlist > :nth-child(1) {
  user-select: none;
  -ms-user-select: none;
} 

.btn-userlist > :nth-child(2) {
  width: 300px;
}

.btn-userlist> :nth-child(3) {
  width: 200px;
}

.toggle-container {
  display: flex;
  background-color: transparent; 
  color: var(--color-secondary);
  justify-content: center;
  align-items: center;
  height: 42px;
  max-width: 380px;
  border-radius: 200px;
  padding: 2px;
  margin: 0 auto;
}

.btn-togglePollView {
  width: 50%;
  margin: 0 -24px;
  border-radius: 200px;
  background: var(--bg-color-accent);
  flex: 0 1 auto;
  z-index: 0;
}

.btn-togglePollView.selected {
  background-color: var(--bg-color-primary);
  color: var(--color-secondary);
  z-index: 2;
}

.btn-togglePollView:hover:not(:disabled) {
  background: none;
  filter: none;
}

.btn-togglePollView:disabled {
  background-color: var(--bg-color-primary);
  color: var(--color-secondary);
  z-index: 2;
}

.btn-show-poll {
  width: 100px;
  margin: 6px 0;
}

.btn-submit {
  width: 200px;
}

.btn-vote {
  margin-bottom: 10px;
  width: 100px;
  padding: 10px 6px;
  background: var(--bg-color-accent);
  color: var(--color-primary);
  text-transform: uppercase;
  transition: all 0.7s ease;
}

.btn-vote:disabled {
  background:rgba(0, 0, 0, .2);
  color:rgba(65, 65, 65, 0.8);
}

.btn-logout {
  margin: 0;
  padding: 10px 6px;
  background: var(--bg-color-accent);
  color: var(--color-primary);
  text-transform: uppercase;
  border: none;
  transition: all 0.7s ease;
}

button.btn-logout:hover:not(:disabled) {
  background-color: var(--bg-color-secondary);
  color: var(--color-primary);
  filter: none;
}

/* table style */

table {
  table-layout: fixed;
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  border: 2px solid var(--bg-color-primary);
}

thead { 
  background-color: var(--bg-color-accent);
  color:rgb(0, 0, 0, .8);
}

thead th:nth-child(1) {
  width: 40%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead, tbody tr {
  border-bottom: 2px solid var(--bg-color-primary);
}

th,
td {
  padding: 10px;
}

th{
  font-size: 1.5em;
}

td {
  font-size: 1.25em;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .site-menu-inner {
    max-width: 100rem;
  }
}


@media screen and (min-width: 1024px) {
  .page-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  .menu-content-wrapper {
    flex: 0 1 auto;
    margin-right: auto;
  }

  .desktop-menu-main {
    margin-left: 1.75em;
  }

  .desktop-menu-social {
    margin: auto 0;
  }

}

@media screen and (max-width: 820px) {
  .html {
    font-size: 10px;
  }

  .page-wrapper {
      max-width: 96%;
      margin: 0 auto;
  }

  .login > h1 {
    font-size: 1.25em;
  }

  .nav .desktop-menu-social,
  .nav ul li, 
  .nav .avatar-wrapper.nav-avatar,
  .nav .top-bar {
    display: none;
  }
  
  .nav .icon {
    float: right;
    display: block;
    margin-left: auto;
    background: transparent;
    border: none;
    color: var(--color-secondary);
  }

  .nav .menu-content-wrapper {
    right: -1000px;
    transition: all 0.5s ease;
  }

  .nav.responsive {
    position: relative;
  }

  .nav.responsive .desktop-menu-main{
    width: 100%;
  }

  .nav.responsive .icon.menu {
    display: none;
  }

  .nav.responsive .top-bar {
    display: block;
  }
  
  .nav.responsive .top-bar .icon {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  .nav.responsive .desktop-menu-social {
    display: block;
    text-align: left;
    margin: 0;
    padding-left: 0;
  }

  .nav.responsive ul li {
    float: none;
    display: inline-flex;
    padding: 10px;
  }
  .nav.responsive .avatar-wrapper.nav-avatar {
    display: inline-flex;
    align-self: flex-start;
    padding: 2px 6px;
    margin-left: 0;
  }
  
  .nav.responsive .menu-content-wrapper {
    background: var(--bg-color-primary);
    color: var(--color-secondary);
    overflow-y: scroll;
    position: fixed;
    right: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 500;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav.responsive .menu-content-wrapper > * {
    color: var(--color-secondary);
    font-weight: 500;
  }

  .nav.responsive .desktop-menu-main li {
    border-bottom: 1px solid #fff;
    margin: 0;
    width: 100%;
  }
  
  .desktop-menu-main li a {
    display: block;
    letter-spacing: .4px;
    text-align: left;
  }

  .nav.responsive .desktop-menu-social li {
    padding-top: 0;
  }

  .nav.responsive .desktop-menu-social li:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  .nav.responsive .desktop-menu-social li a {
    margin: 0 20px;
  }

  .nav.responsive ul {
    flex-direction: column;
    align-items: flex-start;
   }

  .avatar-wrapper.nav-avatar {
    margin-left: auto;
  }

  .poll-option-img {
    height: 75%;
  }

  img {
    height: 30px;
  }

  img.app-logo {
    padding: 4px;
  }

  .toggle-container {
    max-width: 270px;
  }

  .btn-togglePollView {
    font-size: 0.6em;
  }

  .poll-option {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px 0;
  }

  .poll-option-wrapper-inner {
    margin: 0;
    max-width: 92%;
  }

  .poll-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .poll-item {
    width: 100%;
    margin: auto;
  }

  .new-poll-option {
    width: 70%;
  }

  thead, tbody tr {
    font-size: 0.5em;
  }

  .btn-userlist {
    width: 90vw;
  }
}